/*
 * General Styles
*/

html {
  font-size: 100%;
}

body{
  background: url('../images/footloose.png');
  font-family: 'Open-Sans', arial, sans-serif;

/* Full Page Background Recipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #F4442E;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}

/*
 * Hero Styles
*/

.twins {
  line-height: 0;
}

.twins img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

/*
 * Section Styles
*/



section.intro, section.details {
  padding: 40px;
}

section.intro, section.details, section.rsvp {
  background: #EAEADD;
}

/*
 * Aside Styles
*/

aside.left {
  float: left;
}

aside.right {
  float: right;
}

aside.address {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 0px;
}

aside {
  margin-right: 24px;
}
