<% content_for :head do %>
  <title>Ian & Anne's Pizza Party</title>
  <meta name="description" content="Ian & Anne's Pizza Party!">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700|Lobster' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<% end %>

<div class="container">

  <section class="twins">
    <img src="<%= asset_path("twins.jpg") %>" alt="twins">
  </section><!-- #twins -->

  <section class="intro">
     <h1>Pizza Dance Party!</h1>
     <h2>September 30th, 2017</h2>

    <!-- <aside class="right">
      <img src="images/wine-bottle.png" alt="wine bottle">
    </aside> -->

     <p>Ian and Anne got hitched last year! We want to celebrate with YOU!</p>
     <p>Join us for a pizza dance party starting at 6:30pm at <a href="https://www.google.com/maps/place/230+Bogart+St,+Brooklyn,+NY+11206/@40.7116674,-73.9376569,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25eab2ede40bb:0x2b152bd7465088f1!8m2!3d40.7116634!4d-73.9354629" target="_blank">230 Bogart St, Brooklyn, NY 11206</a> on Saturday, September 30th and for doughnuts and coffee at 11:00am <a href="https://www.google.com/maps/place/Msgr.+McGolrick+Park/@40.7244435,-73.9433581,15z/data=!4m5!3m4!1s0x0:0x502c61b7a733459e!8m2!3d40.7244435!4d-73.9433581?sa=X&ved=0ahUKEwidiarxzoPTAhWJ8oMKHdTrCK8Q_BIIeTAO" target="_blank">McGolrick Park</a> on Sunday, October 1st.</p>

     <p>You might be wondering about that photo of Danny and Arnold at the top of the page. We would love it if you came dressed up as your favorite epic duo.</p>

     <a class="button" href="#RSVP">RSVP</a>
     <a class="button" href="#booze">REGISTRY</a>
     <a class="button" href="#lodging">LODGING</a>
     <a class="button" href="#story">CEREMONY</a>

  </section><!-- #intro -->

  <section class="rsvp">
    <a id="RSVP">

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdToTqrxCM3vdsDMfn8KojwhRkwBddejF5LrlICBv3LM_Lhcw/viewform?embedded=true#start=embed" width=100% height="1500" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" font-family="Open-Sans"></iframe>


  </section><!-- #rsvp -->

  <section class="booze">
    <a id="booze">
    <p>No gifts please. Instead, we'd love it if you could bring a bottle of your favorite booze or beverage.</p>
    <iframe width=100% height="371" seamless frameborder="0" scrolling="no" marginheight="0" marginwidth="0"src="https://docs.google.com/spreadsheets/d/11EXDRT-e_wpffeZcoWa64ad-9ODMfdz31NlvncKhVnc/pubchart?oid=2382589&amp;format=interactive"></iframe>

  </section><!-- #booze -->

  <section class="lodging">
    <a id="lodging">
    <p>If you are coming from out of town, here are some nice places to stay:</p>
    <ul>
      <li><a href="http://www.henrynormanhotel.com/" target="_blank">Henry Norman Hotel</a></li>
      <li><a href="http://wythehotel.com/" target="_blank">Wythe Hotel</a></li>
      <li><a href="http://www.franklinguesthouse.com/" target="_blank">Franklin Guesthouse</a></li>
      <li><a href="https://www.airbnb.com/s/Greenpoint--Brooklyn--NY--United-States?guests=2&adults=2&children=0&infants=0&checkin=09%2F29%2F2017&checkout=10%2F01%2F2017&ss_id=piqdzc0a&ss_preload=true&source=bb&page=1&s_tag=Xtw7i7cv&allow_override%5B%5D=" target="_blank">Airbnb</a></li>
    </ul>
  </section><!-- #lodging -->

  <!-- <section class="footer">
    <img src="images/cityhall.jpg" alt"city hall">
  </section><!-- #footer --> -->

</div>
